* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

.header {
  background-color: #37517e;
  opacity: 0.8;
  height: 9vh;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 18px 20px 0 20px;
  margin: auto;
  max-width: 1300px;
}

nav ul {
  display: flex;
  align-items: center;
}

nav ul li {
  list-style-type: none;
  text-align: center;
}

nav ul li a {
  font-size: 16px;
  font-weight: 600;
  padding: 0 15px;
}

nav ul li a:hover {
  color: #418fbf;
}

.btn a {
  color: #fff;
  text-align: center;
  padding: 10px 15px;
  border-radius: 22px;
  text-align: center;
  border: 2px solid #3fabdd;
  text-decoration: none;
  font-weight: 700;
}

.btn a:hover {
  color: white;
  background-color: #47b2e4;
}

nav a {
  color: rgb(236, 236, 236);
  text-decoration: none;
}

.logo a {
  font-size: 35px;
  font-weight: 600;
}

#hero .row {
  margin: auto;
  max-width: 1300px;
  padding: 70px 15px;
  display: flex;
}

#hero .row .col1 {
  height: 500px;
  align-items: center;
}

#hero .row .col1 img {
  height: 500px;
  object-fit: cover;
}

#hero {
  height: 80vh;
  background-color: #37517e;
}

#hero .container {
  padding-top: 10vh;
}

#hero h1 {
  margin: 100px 40px 10px 0;
  padding-right: 15px;
  font-size: 48px;
  font-weight: 700;
  line-height: 55px;
  color: white;
}

#hero h2 {
  padding-bottom: 50px;
  margin-right: 40px;
  padding-right: 50px;
  font-size: 22px;
  font-weight: 600;
  color: #afb9cb;
}

#clients {
  height: 130px;
  background-color: #f3f5fa;
  padding: 0 200px 0 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#clients img {
  height: 40px;
}

#about {
  margin: auto;
  max-width: 1300px;
  height: 450px;
}

#about h2 {
  text-align: center;
  font-size: 40px;
  color: #37517e;
  padding-top: 50px;
  padding-bottom: 10px;
}

#about hr {
  border: 2px solid #659dff;
  margin: auto;
  max-width: 50px;
}

#about .row {
  display: flex;
  margin-top: 40px;
  margin-bottom: 40px;
}

#about .row .col1 {
  width: 100%;
  height: 200px;
}

#about .row .col2 {
  width: 100%;
  height: 200px;
}

#about p,
#about li {
  color: #6b6b6b;
  font-size: 16px;
}

#about li {
  list-style-type: none;
  margin-top: 10px;
}

#about i {
  color: #47b2e4;
  font-size: 1.5em;
  padding-right: 10px;
}

#about .col2 p {
  margin-bottom: 40px;
}

#about ul {
  margin-top: 30px;
}

.sqbtn a {
  color: #47b2e4;
  text-align: center;
  padding: 10px 15px;
  border-radius: 10px;
  text-align: center;
  border: 2px solid #47b2e4;
  text-decoration: none;
}

.sqbtn a:hover {
  color: white;
  background-color: #47b2e4;
}

#why-us {
  height: 800px;
  background-color: #f3f5fa;
}

#why-us .container {
  padding: 50px 10px 50px 10px;
}

#why-us .row {
  display: flex;
  margin: 10px 90px;
}

#why-us .row .content {
  width: 100%;
  padding-right: 100px;
}

#why-us .row .image img {
  width: 100%;
  padding-top: 80px;
}

#why-us .content h3 {
  color: #37517e;
  font-size: 32px;
  font-weight: 500;
  padding-top: 40px;
}

#why-us .content span {
  color: #37517e;
  font-size: 32px;
  font-weight: 800;
}

#why-us .content p {
  color: #b6b7b9;
  font-size: 16px;
  font-weight: 500;
  margin-top: 10px;
}

#why-us .lists .list {
  list-style-type: none;
  height: 130px;
  width: auto;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgb(204, 203, 203);
  padding: 10px;
  margin: 20px 0;
}

#why-us .lists h4 {
  color: #47b2e4;
  font-size: 22px;
  font-weight: 700;
  padding-left: 10px;
  padding-top: 5px;
}

#why-us .content p {
  color: #949494;
  font-size: 15px;
  font-weight: 600;
  margin-top: 10px;
}

#why-us .list p {
  color: #636363;
  font-size: 16px;
  font-weight: 500;
  margin-top: 10px;
  padding: 5px;
}

#skills {
  height: 550px;
  background-color: #ffffff;
  margin: auto;
  max-width: 1400px;
}

#skills .container {
  padding: 50px 10px 50px 10px;
}

#skills .row {
  display: flex;
  height: 500px;
}

#skills .row .content {
  width: 100%;
  padding-left: 40px;
}

#skills .row .image img {
  width: 100%;
  padding-top: 50px;
}

#skills .content h3 {
  color: #37517e;
  font-size: 32px;
  font-weight: 700;
  padding-top: 40px;
}

#skills .content p {
  color: #b6b7b9;
  font-size: 16px;
  font-weight: 500;
  margin-top: 10px;
}

#skills .skill-content .skill .bar {
  height: 12px;
  background-color: #dae1f1;
}

#skills .skill-content .skill {
  padding: 10px;
}

#skills .skill-content span {
  font-size: 14px;
  font-weight: 700;
  color: #37517e;
}

#skills .skill-content .skill .bar1 {
  height: 12px;
  width: 90%;
  background-color: #37517e;
}

#skills .skill-content .skill .bar2 {
  height: 12px;
  width: 70%;
  background-color: #37517e;
}

#skills .skill-content .skill .bar3 {
  height: 12px;
  width: 80%;
  background-color: #37517e;
}

#skills .skill-content .skill .bar4 {
  height: 12px;
  width: 75%;
  background-color: #37517e;
}

#services {
  height: 620px;
  background-color: #f3f5fa;
}

#services .container {
  margin: auto;
  max-width: 1300px;
}

#services .container h2 {
  text-align: center;
  font-size: 40px;
  color: #37517e;
  padding-top: 50px;
  padding-bottom: 10px;
}

#services .container hr {
  border: 2px solid #659dff;
  margin: auto;
  max-width: 50px;
}

#services .container P {
  color: #636363;
  font-size: 18px;
  font-weight: 500;
  margin-top: 10px;
  padding: 5px;
  text-align: center;
}

#services .row {
  /* padding: 50px; */
}

#services .row .col {
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: space-between;
  margin-top: 65px;
}

#services .col .box {
  padding: 30px;
  height: 270px;
  width: 290px;
  background-color: #fff;
  box-shadow: 0 3px 15px rgb(228, 226, 226);
  border-radius: 5px;
  transition: ease-in-out 0.3s;
}

#services .col .box:hover {
  transform: translateY(-10px);
}

#services .col .box i {
  text-align: center;
  font-size: 30px;
  color: #47b2e4;
  margin: 10px;
}

#services .col .box h4 {
  font-size: 22px;
  color: #4668a2;
}

#services .col .box p {
  font-size: 16px;
  padding: 5px;
  text-align: left;
}

#cta {
  height: 400px;
  background: url("./img/cta-bg.jpg") repeat fixed 100%;
}

#cta .container {
  height: 100%;
  background-color: #304567;
  opacity: 0.8;
  display: flex;
  padding: 8%;
}

#cta .container .content {
  width: 70%;
}

#cta .container .btn {
  width: 30%;
  text-align: center;
  margin: auto;
}

#cta .container h4 {
  font-size: 34px;
  font-weight: 700;
  color: #fff;
}

#cta .container p {
  font-size: 18px;
  font-weight: 500;
  color: #fff;
}

#team {
  height: 850px;
  background-color: #f3f5fa;
  width: 100%;
}

#team .container h2 {
  text-align: center;
  font-size: 40px;
  color: #37517e;
  padding-top: 50px;
  padding-bottom: 10px;
}

#team .container .title hr {
  border: 2px solid #659dff;
  margin: auto;
  max-width: 50px;
}

#team .container .title P {
  color: #4d4d4e;
  font-size: 18px;
  font-weight: 500;
  margin-top: 10px;
  padding: 5px;
  text-align: center;
  padding-left: 200px;
  padding-right: 200px;
}

#team .container .row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

#team .container .row .col {
  margin: 15px;
  display: flex;
  align-items: center;
  height: 250px;
  width: 750px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 3px 10px gainsboro;
  transition: ease-in-out 0.3s;
}

#team .container .row .col:hover {
  transform: translateY(-10px);
}

#team .container .col .info {
  margin: 15px;
}

#team .container .col h3 {
  color: #37517e;
  font-size: 22px;
  font-weight: 800;
  padding-left: 10px;
}

#team .container .col img {
  height: 180px;
  width: 180px;
  border-radius: 50%;
  margin: 20px;
}

#team .container .col h4 {
  color: #4d4d4e;
  font-size: 18px;
  font-weight: 800;
  padding: 10px;
}

#team .container .col hr {
  border: 0.5px solid #bbc2ce;
  max-width: 70px;
}

#team .container .col P {
  color: #4d4d4e;
  font-size: 18px;
  font-weight: 500;
  padding: 10px;
}

#team .container .col .btn a {
  font-size: 35px;
  color: dodgerblue;
  padding: 0;
  border: none;
  margin-left: 5px;
}

#team .container .col .btn a:hover {
  color: rgb(116, 186, 255);
  border: none;
  background: none;
  padding: 0;
}

#pricing {
  height: 800px;
}

#pricing h2 {
  text-align: center;
  font-size: 40px;
  color: #37517e;
  padding-top: 50px;
  padding-bottom: 10px;
}

#pricing hr {
  border: 2px solid #659dff;
  margin: auto;
  max-width: 50px;
}

#team .container .title P {
  color: #4d4d4e;
  font-size: 18px;
  font-weight: 500;
  margin-top: 10px;
  padding: 5px;
  text-align: center;
  padding-left: 200px;
  padding-right: 200px;
}

#pricing .plans {
  display: flex;
  justify-content: space-evenly;
  margin-left: 150px;
  margin-right: 150px;
}

#pricing .plans .plan {
  height: 500px;
  width: 380px;
  border-radius: 10px;
  box-shadow: 0 3px 10px gainsboro;
}
