* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

.header {
  background-color: #37517e;
  opacity: 0.8;
  height: 9vh;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 18px 20px 0 20px;
  margin: auto;
  max-width: 1300px;
}

nav .bar {
  visibility: hidden;
}

nav ul {
  display: flex;
  align-items: center;
}

nav ul li {
  list-style-type: none;
  text-align: center;
}

nav ul li a {
  font-size: 16px;
  font-weight: 600;
  padding: 0 15px;
}

nav ul li a:hover {
  color: #418fbf;
}

.btn a {
  color: #fff;
  text-align: center;
  padding: 10px 15px;
  border-radius: 22px;
  text-align: center;
  border: 2px solid #3fabdd;
  text-decoration: none;
  font-weight: 700;
}

.btn a:hover {
  color: white;
  background-color: #47b2e4;
}

nav a {
  color: rgb(236, 236, 236);
  text-decoration: none;
}

.logo a {
  font-size: 35px;
  font-weight: 600;
}

#hero .row {
  margin: auto;
  max-width: 1300px;
  padding: 70px 15px;
  display: flex;
}

#hero .row .col1 {
  height: 500px;
  align-items: center;
}

#hero .row .col1 img {
  height: 500px;
  object-fit: cover;
}

#hero {
  height: 80vh;
  background-color: #37517e;
}

#hero .container {
  padding-top: 10vh;
}

#hero h1 {
  margin: 100px 40px 10px 0;
  padding-right: 15px;
  font-size: 48px;
  font-weight: 700;
  line-height: 55px;
  color: white;
}

#hero h2 {
  padding-bottom: 50px;
  margin-right: 40px;
  padding-right: 50px;
  font-size: 22px;
  font-weight: 600;
  color: #afb9cb;
}

@media (max-width: 480px) {
  nav {
    align-items: center;
    text-align: end;
  }
  nav ul {
    visibility: hidden;
  }
  nav .bar {
    visibility: visible;
    color: #fff;
    font-size: 25px;
  }
}

#clients {
  height: 130px;
  background-color: #f3f5fa;
  padding: 0 200px 0 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#clients img {
  height: 40px;
}

@media (max-width: 480px) {
  #clients {
    height: 200px;
    margin: auto;
    padding: 0 90px 0 90px;
    flex-wrap: wrap;
    align-content: space-around;
  }

  #clients img {
    height: 25px;
    margin: 8px;
  }
}

#about {
  margin: auto;
  max-width: 1300px;
  height: 450px;
}

#about h2 {
  text-align: center;
  font-size: 40px;
  color: #37517e;
  padding-top: 50px;
  padding-bottom: 10px;
}

#about hr {
  border: 2px solid #659dff;
  margin: auto;
  max-width: 50px;
}

#about .row {
  display: flex;
  margin-top: 40px;
  margin-bottom: 40px;
}

#about .row .col1 {
  width: 100%;
  height: 200px;
}

#about .row .col2 {
  width: 100%;
  height: 200px;
}

#about p,
#about li {
  color: #6b6b6b;
  font-size: 16px;
}

#about li {
  list-style-type: none;
  margin-top: 10px;
}

#about i {
  color: #47b2e4;
  font-size: 1.5em;
  padding-right: 10px;
}

#about .col2 p {
  margin-bottom: 40px;
}

#about ul {
  margin-top: 30px;
}

@media (max-width: 480px) {
  #about {
    height: 800px;
  }
  #about .row {
    flex-direction: column;
  }
  #about .row .col1 {
    height: 330px;
    padding: 25px;
  }
  #about .row .col2 {
    height: 330px;
    padding: 25px;
  }
}

.sqbtn a {
  color: #47b2e4;
  text-align: center;
  padding: 10px 15px;
  border-radius: 10px;
  text-align: center;
  border: 2px solid #47b2e4;
  text-decoration: none;
}

.sqbtn a:hover {
  color: white;
  background-color: #47b2e4;
}

#why-us {
  height: 800px;
  background-color: #f3f5fa;
}

#why-us .container {
  padding: 50px 10px 50px 10px;
}

#why-us .row {
  display: flex;
  margin: 10px 90px;
}

#why-us .row .content {
  width: 100%;
  padding-right: 100px;
}

#why-us .row .image img {
  width: 100%;
  padding-top: 80px;
}

#why-us .content h3 {
  color: #37517e;
  font-size: 32px;
  font-weight: 500;
  padding-top: 40px;
}

#why-us .content span {
  color: #37517e;
  font-size: 32px;
  font-weight: 800;
}

#why-us .content p {
  color: #b6b7b9;
  font-size: 16px;
  font-weight: 500;
  margin-top: 10px;
}

#why-us .lists .list {
  list-style-type: none;
  height: 130px;
  width: auto;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgb(204, 203, 203);
  padding: 10px;
  margin: 20px 0;
}

#why-us .lists h4 {
  color: #47b2e4;
  font-size: 22px;
  font-weight: 700;
  padding-left: 10px;
  padding-top: 5px;
}

#why-us .content p {
  color: #949494;
  font-size: 15px;
  font-weight: 600;
  margin-top: 10px;
}

#why-us .list p {
  color: #636363;
  font-size: 16px;
  font-weight: 500;
  margin-top: 10px;
  padding: 5px;
}

@media (max-width: 480px) {
  #why-us {
    height: auto;
  }

  #why-us .container {
    padding: 0;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  #why-us .row {
    flex-direction: column-reverse;
    margin: 25px;
  }

  #why-us .content h3 {
    font-size: 28px;
  }

  #why-us .content span {
    font-size: 28px;
  }

  #why-us .content p {
    margin-bottom: 20px;
  }

  #why-us .row .content {
    padding: 0;
  }

  #why-us .row .image img {
    padding: 0;
  }

  #why-us .lists .list {
    height: 250px;
    margin-bottom: 15px;
    text-align: justify;
    padding: 20px;
  }

  #why-us .lists .list p {
    margin: 0;
  }
  #why-us .lists .list h4 {
    padding: 0;
  }
}

#skills {
  height: 550px;
  background-color: #ffffff;
  margin: auto;
  max-width: 1400px;
}

#skills .container {
  padding: 50px 10px 50px 10px;
}

#skills .row {
  display: flex;
  height: 500px;
}

#skills .row .content {
  width: 100%;
  padding-left: 40px;
}

#skills .row .image img {
  width: 100%;
  padding-top: 50px;
}

#skills .content h3 {
  color: #37517e;
  font-size: 32px;
  font-weight: 700;
  padding-top: 40px;
}

#skills .content p {
  color: #b6b7b9;
  font-size: 16px;
  font-weight: 500;
  margin-top: 10px;
}

#skills .skill-content .skill .bar {
  height: 12px;
  background-color: #dae1f1;
}

#skills .skill-content .skill {
  padding: 10px;
}

#skills .skill-content span {
  font-size: 14px;
  font-weight: 700;
  color: #37517e;
}

#skills .skill-content .skill .bar1 {
  height: 12px;
  width: 90%;
  background-color: #37517e;
}

#skills .skill-content .skill .bar2 {
  height: 12px;
  width: 70%;
  background-color: #37517e;
}

#skills .skill-content .skill .bar3 {
  height: 12px;
  width: 80%;
  background-color: #37517e;
}

#skills .skill-content .skill .bar4 {
  height: 12px;
  width: 75%;
  background-color: #37517e;
}

@media (max-width: 480px) {
  #skills {
    height: auto;
  }

  #skills .container {
    padding-left: 25px;
    padding-right: 25px;
  }

  #skills .row {
    height: auto;
    flex-direction: column;
  }

  #skills .row .content {
    padding: 0;
  }
}

#services {
  height: 620px;
  background-color: #f3f5fa;
}

#services .container {
  margin: auto;
  max-width: 1300px;
}

#services .container h2 {
  text-align: center;
  font-size: 40px;
  color: #37517e;
  padding-top: 50px;
  padding-bottom: 10px;
}

#services .container hr {
  border: 2px solid #659dff;
  margin: auto;
  max-width: 50px;
}

#services .container P {
  color: #636363;
  font-size: 18px;
  font-weight: 500;
  margin-top: 10px;
  padding: 5px;
  text-align: center;
}

#services .row .col {
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: space-between;
  margin-top: 65px;
}

#services .col .box {
  padding: 30px;
  height: 270px;
  width: 290px;
  background-color: #fff;
  box-shadow: 0 3px 15px rgb(228, 226, 226);
  border-radius: 5px;
  transition: ease-in-out 0.3s;
}

#services .col .box:hover {
  transform: translateY(-10px);
}

#services .col .box i {
  text-align: center;
  font-size: 30px;
  color: #47b2e4;
  margin: 10px;
}

#services .col .box h4 {
  font-size: 22px;
  color: #4668a2;
}

#services .col .box p {
  font-size: 16px;
  padding: 5px;
  text-align: left;
}

@media (max-width: 480px) {
  #services {
    height: auto;
  }

  #services .row .col {
    margin-top: 30px;
    justify-content: space-around;
  }

  #services .col .box {
    width: 330px;
    margin-bottom: 25px;
  }
}

#cta {
  height: 400px;
  background: url("./img/cta-bg.jpg") repeat fixed 100%;
}

#cta .container {
  height: 100%;
  background-color: #304567;
  opacity: 0.8;
  display: flex;
  padding: 8%;
}

#cta .container .content {
  width: 70%;
}

#cta .container .btn {
  width: 30%;
  text-align: center;
  margin: auto;
}

#cta .container h4 {
  font-size: 34px;
  font-weight: 700;
  color: #fff;
}

#cta .container p {
  font-size: 18px;
  font-weight: 500;
  color: #fff;
}

@media (max-width: 480px) {
  #cta {
    height: auto;
    background-image: url("./img/cta-bg.jpg");
  }

  #cta .container {
    display: block;
    padding-top: 40px;
    padding-bottom: 40px;
  }

  #cta .container h4 {
    margin-bottom: 10px;
  }

  #cta .container .content {
    text-align: center;
    width: 100%;
    margin-bottom: 15px;
  }

  #cta .container .btn {
    width: 100%;
    margin-top: 40px;
    margin-bottom: 40px;
  }
}

#team {
  height: 850px;
  background-color: #f3f5fa;
  width: 100%;
}

#team .container h2 {
  text-align: center;
  font-size: 40px;
  color: #37517e;
  padding-top: 50px;
  padding-bottom: 10px;
}

#team .container .title hr {
  border: 2px solid #659dff;
  margin: auto;
  max-width: 50px;
}

#team .container .title P {
  color: #4d4d4e;
  font-size: 18px;
  font-weight: 500;
  margin-top: 10px;
  padding: 5px;
  text-align: center;
  padding-left: 200px;
  padding-right: 200px;
}

#team .container .row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

#team .container .row .col {
  margin: 15px;
  display: flex;
  align-items: center;
  height: 250px;
  width: 750px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 3px 10px gainsboro;
  transition: ease-in-out 0.5s;
}

#team .container .row .col:hover {
  transform: translateY(-10px);
}

#team .container .col .info {
  margin: 15px;
}

#team .container .col h3 {
  color: #37517e;
  font-size: 22px;
  font-weight: 800;
  padding-left: 10px;
}

#team .container .col img {
  height: 180px;
  width: 180px;
  border-radius: 50%;
  margin: 20px;
}

#team .container .col h4 {
  color: #4d4d4e;
  font-size: 18px;
  font-weight: 800;
  padding: 10px;
}

#team .container .col hr {
  border: 0.5px solid #bbc2ce;
  max-width: 70px;
}

#team .container .col P {
  color: #4d4d4e;
  font-size: 18px;
  font-weight: 500;
  padding: 10px;
}

#team .container .col .btn a {
  font-size: 35px;
  color: rgb(59, 157, 255);
  padding: 0;
  border: none;
  margin-left: 5px;
}

#team .container .col .btn a:hover {
  color: rgb(116, 186, 255);
  border: none;
  background: none;
  padding: 0;
}

@media (max-width: 480px) {
  #team {
    height: auto;
  }

  #team .container .row {
    padding-bottom: 35px;
    margin-top: 15px;
  }

  #team .container .row .col {
    height: 235px;
  }

  #team .container .title P {
    padding: 10px 25px;
    text-align: justify;
  }

  #team .container .col img {
    height: 90px;
    width: 90px;
    border-radius: 50%;
    margin: 0;
    margin-left: 15px;
  }

  #team .container .col h4 {
    font-size: 14px;
    font-weight: 700;
    padding: 10px;
  }

  #team .container .col P {
    color: #4d4d4e;
    font-size: 14px;
    font-weight: 500;
  }

  #team .container .col .btn a {
    font-size: 22px;
  }
}

#pricing {
  height: 800px;
}

#pricing h2 {
  text-align: center;
  font-size: 40px;
  color: #37517e;
  padding-top: 50px;
  padding-bottom: 10px;
}

#pricing hr {
  border: 2px solid #659dff;
  margin: auto;
  max-width: 50px;
}

#pricing .container .title P {
  color: #4d4d4e;
  font-size: 18px;
  font-weight: 500;
  margin-top: 10px;
  padding: 5px;
  text-align: center;
  padding-left: 200px;
  padding-right: 200px;
}

#pricing .plans {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 150px;
  margin-right: 150px;
  margin-top: 50px;
}

#pricing .plans .plan {
  height: 500px;
  width: 380px;
  border-radius: 10px;
  box-shadow: 0 3px 10px gainsboro;
  padding: 35px;
  margin-right: 25px;
}

#pricing .plans .bus {
  border-top: 5px solid #47b2e4;
}

#pricing .plans .plan ul li {
  list-style-type: none;
  color: #999999;
}

#pricing .plans .plan a {
  color: #47b2e4;
}

#pricing .plans .plan h3 {
  color: #395380;
  font-weight: 600;
  margin-bottom: 5px;
}

#pricing .plans .plan span {
  font-size: 45px;
  margin-bottom: 15px;
}

#pricing .plans .plan p {
  color: #4db5e5;
}

#pricing .plans .plan .btn {
  margin-top: 40px;
}

#pricing .plans .plan ul {
  margin: 10px;
  margin-top: 25px;
}

#pricing .plans .plan ul li i {
  color: #6fc482;
  padding-right: 10px;
  padding-bottom: 18px;
}

#pricing .container .title p {
  color: #4d4d4e;
  font-size: 18px;
  font-weight: 500;
  margin-top: 10px;
  padding: 5px;
  text-align: center;
  padding-left: 200px;
  padding-right: 200px;
}

@media (max-width: 480px) {
  #pricing {
    height: auto;
  }

  #pricing .container .title P {
    padding: 10px 25px;
    text-align: justify;
  }

  #pricing .plans {
    flex-direction: column;
    margin: 15px;
    margin-bottom: 30px;
  }

  #pricing .plans .plan {
    width: auto;
    margin: 10px 0;
  }
}

#contact {
  height: 1000px;
  background-color: #f3f5fa;
}

#contact h2 {
  text-align: center;
  font-size: 40px;
  color: #37517e;
  padding-top: 50px;
  padding-bottom: 10px;
}

#contact hr {
  border: 2px solid #659dff;
  margin: auto;
  max-width: 50px;
}

#contact .container .title P {
  color: #4d4d4e;
  font-size: 18px;
  font-weight: 500;
  margin-top: 10px;
  padding: 5px;
  text-align: center;
  padding-left: 200px;
  padding-right: 200px;
}

#contact .container .row .info {
  height: 600px;
  width: 500px;
  background-color: #fff;
  border-top: 5px solid #47b2e4;
  border-bottom: 5px solid #47b2e4;
  box-shadow: 0 3px 10px gainsboro;
  padding: 22px;
}

#contact .container .row .info i {
  font-size: 35px;
  color: dodgerblue;
  padding: 0;
  border: none;
  margin-left: 5px;
}

#contact .container .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 150px;
  margin-right: 150px;
  margin-top: 50px;
}

#contact .container .row .form {
  padding: 40px;
}

#contact .container .row .form input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
}

#contact .container .row .form label {
  font-size: 18px;
  color: #444444;
  margin: 5px;
}

#contact .container .row .form textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
}

#contact .container .row .form input:focus {
  border: 3px solid #555;
}

#contact .container .row .form #message {
  height: 150px;
}

#contact .container .row .form .btn {
  margin-top: 35px;
  text-align: center;
}

#contact .container .row .form .btn a {
  color: #ffffff;
  background-color: #20a3e0;
}

#contact .container .row .form .btn a:hover {
  color: #ffffff;
  background-color: #61c5f3;
}

#contact .container .row .col {
  display: flex;
}

#contact .container .row .col .data {
  margin: 20px;
}

#contact .container .row .col i {
  margin: 20px;
  font-size: 35px;
}

#contact .container .row .info i:hover {
  color: rgb(116, 186, 255);
  border: none;
  background: none;
  padding: 0;
}

#contact .container .row .form {
  height: 600px;
  width: 680px;
  background-color: #fff;
  border-top: 5px solid #47b2e4;
  border-bottom: 5px solid #47b2e4;
  box-shadow: 0 3px 10px gainsboro;
  margin-left: 25px;
}

@media (max-width: 480px) {
  #contact {
    height: auto;
  }

  #contact .container .title P {
    padding: 10px 25px;
    text-align: justify;
  }

  #contact .container .row {
    padding: 20px 15px;
    margin: 0;
    width: auto;
  }
}

#subscribe {
  height: 350px;
  background-color: #dae1f1;
}

#subscribe h2 {
  text-align: center;
  font-size: 40px;
  color: #37517e;
  padding-top: 50px;
  padding-bottom: 10px;
}

#subscribe P {
  color: #4d4d4e;
  font-size: 18px;
  font-weight: 500;
  margin-top: 10px;
  padding: 5px;
  text-align: center;
  padding-left: 200px;
  padding-right: 200px;
}

#subscribe .inp {
  height: 46px;
  width: 400px;
  background-color: #ffffff;
  border-radius: 25px;
  display: flex;
  align-items: center;
  margin: auto;
  margin-top: 40px;
}

#subscribe .btn a {
  color: #ffffff;
  background-color: #20a3e0;
}

#subscribe .btn a:hover {
  color: #ffffff;
  background-color: #61c5f3;
}

#subscribe .inp input {
  border: none;
  width: 280px;
  height: 35px;
  margin: 15px 0 15px 10px;
  border-radius: 15px;
}

#subscribe .inp input:checked {
  border: none;
}

#footer {
  height: 400px;
  background-color: #fff;
}

#footer .container {
  display: flex;
}
